@{
    ViewData["Title"] = "Home Page";

}


@section css
{
    <style type="text/css">

        h1
        {
            color: purple;
            background-color :slategray;
            font-weight:600;
          
        }
        p
        {
            color: palevioletred;

        }
        a
        {
           color : darkblue;
        }
      
        </style>
}

    <h1>MY WEBSİTE</h1>

<div class="text-center">
    <italic>my first experience with Asp.Net Core :)</italic>
  
    
    <h1 class="display-4" >Welcome My First Project</h1>
 
</div>
<partial name="_MenuPartialView"/> @*//başka bir partialview kullanabiliiz*@


@section Scripts
{


}

<div class="row">
    <div class="col-md-10 align-content-md-center"> @*4 sütunu aldık*@
@*klasör adı/dosya adı/ HomeConrollerdaki data yolu*@
<partial name="~/PartialView/_ProductListPartialView.cshtml" model="@ViewBag.productListPartialViewModel" />

</div>

</div>

@*<div>
<img src="/images/ziyaretci.jpg"/>
<image-thumbnail image-src="images/ziyaretci.jpg"></image-thumbnail>
</div>*@

<div class="text-center">
    <p>Learn about my website <a href="https://docs.microsoft.com/aspnet/core">The website was builded with ASP.NET Core</a>.</p>
</div>
