@{
    ViewData["Title"] = "ExampleController index sayfası";
    Layout = "ExampleLayout";
}
@*@section ile exampleLayouttaki header ve footer kısımlarına ekleme yaptık*@
@section header
{
    <p>bu kodlar headerın hemen altına eklenecek</p>
}
@section footer
{
    <p>bu kodlar footerın hemen altına eklenecek</p>
}
<div>bu sayfa example controller > Index sayfası</div>