
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>NoLayout</title>
</head>
<body>
    Bu sayfa layout sayfalarından beslenmektedir.
@*iki farklı şekilde gösterilebilinir
    <partial name="_MenuPartialView" />
    @await Html.PartialAsync("_MenuPartialView")*@
</body>
</html>
